body {
    border: 1px solid blue;/* -width -style -color *
    margin: 1em auto;/* top + bottom / left + right */
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: fit-content;

}
a {
    color: blue;
    background-color: red;
}
a:visited {
    color: yellow;
    background-color: red;
}
a:hover, a:active {
    color: red;
    background-color: blue;
}
.lorem h1 {
    text-align: center;
}
.lorem h2 {
    text-align: center;
}
.lorem h3 {
    text-align: center;
}
.lorem h1{
    color: blue
}